
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin-left: 30px;
}

.otsikko {
    margin-top: 20px;
    margin-bottom: 40px;
}

.lomake h3 {
    margin-bottom: 30px;
}

label, input, #countries {
    margin-bottom: 7px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

label[for="man"], label[for="woman"], label[for="fin"], label[for="other"] {
    text-align: left;
}
label[for="other"] {
    width: auto;
}

#female, #lang2 {
    margin-left: -45px;
}

select {
    width: 120px;
}

#gender, #lang {
    margin-bottom: 12px;
}

label[for="info"] {
    float: left;
}

#info {
    height: 100px;
    width: 300px;
    overflow: auto;
    resize: none;
    padding: 5px;
}

#submit {
    margin-left: 100px;
    margin-top: 10px;
    width: 60px;
}